conn {{vpnconnection.vpn_id}-1
        authby=secret
        auto=start
        left={{vpnconnection.namespace_tunnel1_ip}}
        leftid={{vpnconnection.namespace_tunnel1_ip}}
        right={{vpnconnection.tunnel1_vgw_ip}}
        rightid={{vpnconnection.tunnel1_vgw_ip}}
        type=tunnel
        ikelifetime=8h
        keylife=1h
        phase2alg=aes128-sha1;modp1024
        ike=aes128-sha1
        auth=esp
        keyingtries=%forever
        aggrmode=no
        keyexchange=ike
        ikev2=never
        leftsubnet={{vpnconnection.tunnel1_inside_address}}/30
        rightsubnet=0.0.0.0/0
        dpddelay=10
        dpdtimeout=30
        dpdaction=restart_by_peer

conn {{vpnconnection.vpn_id}-2
        authby=secret
        auto=start
        left={{vpnconnection.namespace_tunnel2_ip}}
        leftid={{vpnconnection.namespace_tunnel2_ip}}
        right={{vpnconnection.tunnel2_vgw_ip}}
        rightid={{vpnconnection.tunnel2_vgw_ip}}
        type=tunnel
        ikelifetime=8h
        keylife=1h
        phase2alg=aes128-sha1;modp1024
        ike=aes128-sha1
        auth=esp
        keyingtries=%forever
        aggrmode=no
        keyexchange=ike
        ikev2=never
        leftsubnet={{vpnconnection.tunnel2_inside_address}}/30
        rightsubnet=0.0.0.0/0
        dpddelay=10
        dpdtimeout=30
        dpdaction=restart_by_peer